<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inner">
		<div class="topmargin">
			<div class="czcionka">
			<ul><b><a href="http://jaworgists.herokuapp.com/">Gisty</a>
			<a href="https://github.com/kropeq/my-gist">GitHub</a>
			<a href="http://jaworgists.herokuapp.com/gists/new">Dodaj</a></b></ul>
			</div>
		</div>
	</div>
</div>
<div class="center hero-unit">
	<br />
<div class="h1">Nowy gist</div>
<%= render 'form' %>
<hr />
<center><%= link_to 'Cofnij', gists_path, :class => "btn btn-default" %></center>
</div>
